@using Bookish.DataAccess;


@model IEnumerable<Copies>
@{
    ViewBag.Title = "BorrowedBooks";
}

@System.Web.HttpContext.Current.User.Identity.Name

<h2>BorrowedBooks</h2>
<form>
    <input type="number" name="numberInput" id="numberInput" value="" style="margin-bottom: 15px;" />
    <input type="submit" value="Submit">
</form>

<table cellpadding='3' cellspacing='3' style=' border: 1px solid black; font-size: 12pt; font-family: Arial; width: 100%; align-content: center;'>
    <tr style="font-weight: bold; border: 1px solid black; background: #000; color :white;">
        <th style="text-align: center">Book Name</th>
        <th style="text-align: center">Book Author</th>
        <th style="text-align: center">Borrowed By</th>
        <th style="text-align: center">Copy ID</th>
    </tr>

    @foreach (var borrowed in Model)
    {
        <tr>
            @*@{var books = Model.GetBook(borrowed.Books_ID);}
                <td style="border: 1px solid black; padding-left: 12px;">@books.Name</td>
                <td style="border: 1px solid black; padding-left: 12px;">@books.Author</td>*@
            <td style="border: 1px solid black; padding-left: 12px;">@borrowed.Borrowed_By_ID</td>
            <td style="border: 1px solid black; padding-left: 12px;">@borrowed.Copy_ID</td>
        </tr>
    }
</table>


